.header
{
    width: 100px;
    height: 200px;
    background-color: teal;
    text-align: center;
}
h1
{
    padding-top: 50px;
    font-size: 25px;
    font-family: cursive;
    color: white;
}